
#row1{
	background-color: #303030;
	height: 70px;
}
#img1{
	width: 50px;
	height: 50px;
}
#logo{
	vertical-align: bottom;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: #56BAEE;
}
#div1{
	padding-top: 8px;
}
#div2{
	margin-top: 20px;
}
#row2{
	
}
#div3{
	background-color: #E8E8E8;
	height: 590px;
	margin: 0;
	padding: 0;
}
#div4{
	margin: 20px auto;
}
#div5{
	text-align: center;
	margin: 40px auto;
}
#div6{
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	bottom: 0px;
	text-align: center;
	color: #999;
}
td{
	text-align: center;
}
#div7 button{
	margin: 8px 10px;
}
#div8{
	width: 996px;
	height: 540px;
	overflow: scroll;
	border: 1px solid #ccc;
}



